flashtext==2.7
Flask==0.12.1
gunicorn==19.7.1
Jinja2==2.9.6
lt-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/lt_core_news_sm-2.2.5/lt_core_news_sm-2.2.5.tar.gz
nltk==3.6.2
pke @ git+https://github.com/boudinfl/pke.git@dc4d5f21e0ffe64c4df93c46146d29d1c522476b
psycopg2
psycopg2-binary==2.9.1
requests==2.25.1
spacy==2.2.4
Werkzeug==0.12.1
